*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
  font-family: 'Fredoka Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --navbar-height: 5rem;
  --navbar-content-width: 1200px;

  /* colors */
  --grey-blue: rgb(41, 62, 90);
  --grey-blue-gradient: linear-gradient(90deg, hsla(214, 37%, 26%, 1) 0%, hsla(227, 11%, 34%, 1) 100%);
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

p {
  font-size: 1.2rem;
}