.Home-top-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-grow: 1;
  width: 100%;
  max-width: var(--navbar-content-width);
}

.Home-left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 2;
}

.Home-body-icon.MuiSvgIcon-root {
  font-size: 3rem;
  color: gray;
  margin-right: 1.5rem;
}

.Home-right-container {
  display: flex;
  justify-content: right;
  grid-column: 2 / 3;
  position: relative;
}

.Home-image-container {
  position: absolute;
  height: calc(100vh - var(--navbar-height));
  overflow: hidden;
}

.Home-photo {
  height: calc(100vh - var(--navbar-height));
  max-height: 1000px;
}

@media (width < 800px) {
  .Home-top-container {
    display: block;
  }
  .Home-right-container {
    justify-content: center;
  }
  .Home-photo {
    object-fit: contain;
    width: 100%;
  }
}

@media (width < 1100px) {
  .Home-image-container {
    position: unset;
    height: auto;
    overflow: auto;
  }
  .Home-photo {
    min-height: auto;
  }
}